{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'images/max_train.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ post.title }}</h1>
                        <hr class="small">
                        <span class="subheading">by {{ post.author.name }} on {{ post.created }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if perms.posts.change_post %}
                        <a class="btn btn-primary" href="{% url 'posts:update' post.slug %}">Edit Post</a>
                    {% endif %}
                    <p>{{ post.description }}</p>
                    <p></p>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tags:detail' tag.slug %}">{{ tag.name }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock content %}
