{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Update Post - {{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% if form.instance.pk %}
    <form class="form-horizontal" method="post" action="{% url 'posts:update' post.slug %}">
    {% else %}
    <form class="form-horizontal" method="post" action="{% url 'posts:add' %}">
    {% endif %}
       {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
    </form>
{% endblock %}