{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}Homepage - {{ block.super }}{% endblock %}
{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'images/max_train.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Easy Blog Django</h1>
                        <hr class="small">
                        <span class="subheading">An easy-to-use blog written in Django, by Ryan Saul</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

     <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in post_list %}
                <div class="post-preview">
                    <a href="{% url 'posts:detail' post.slug %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.description|safe|truncatewords:"20"|linebreaks }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{ post.author.name }} on {{ post.created }}</p>
                </div>
                {% endfor %}
                <nav>
                    <ul class="pager">
                        <li class="previous {% if page_obj.has_previous == False %}disabled{% endif %}">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                            {% endif %}
                            <span aria-hidden="true">&larr; previous</span>
                            {% if page_obj.has_previous %}</a>{% endif %}
                        </li>
                        <li class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </li>
                        <li class="next {% if page_obj.has_next == False %}disabled{% endif %}">
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                            {% endif %}
                            <span aria-hidden="true">next &rarr;</span>
                            {% if page_obj.has_next %}</a>{% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}