{% extends "base.html" %}
{% block title %}Homepage - {{ block.super }}{% endblock %}
{% block content %}

        <a href="{% url 'posts:detail' last_post.pk %}">
            <h2>Latest Story: {{ last_post.title }}</h2>
        </a>

        {% for post in most_recent_posts %}
        <a href="{% url 'posts:detail' post.pk %}">
            <h4>{{ post.title }}</h4>
        </a>
        <small>{{ post.created }}</small><p/>
        <small>By {{ post.author.name }}</small>
        <p>
            {{ post.description|safe|truncatewords:"140"|linebreaks }}
        </p>
        <a href="{% url 'posts:detail' post.pk %}">
            Read More
        </a>
        <p>&NoBreak;</p>
        {% endfor %}

{% endblock %}