{% extends "base.html" %}
{% load static %}
{% block title %}Tags - {{ block.super }}{% endblock %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'images/max_train.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Site Tags</h1>
                        <hr class="small">
                        <span class="subheading">An easy-to-use blog written in Django, by Ryan Saul</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

     <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for tag in tag_list %}
                  <a href="{% url 'tags:detail' tag.slug %}">
                    <h4>{{ tag.name }}</h4>
                  </a>
                {% endfor %}

            </div>
        </div>
        {% include "pagination.html" %}
    </div>

{% endblock content %}
